#topnav {
    float: right;
}
#body{
    border-style: solid;
    border: 100px;
    border-color: red;
}
h1 {
    font-family: Papyrus, sans-serif;
    font-size: 50px;
    color: pink;
  }
  
  #allergies {
    float: right;
  }
  #title {
      
  }
